@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Poppins:ital,wght@1,100;1,200&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	background-color: #fcf9f7;
	background-image: url("../public/images/both-5.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #0b090e;
	background-position: 100% 10%;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

.itinerary {
	background-image: url("/images/chapel-old.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.site {
	background-image: url("/images/woman-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40% 50%;
}

.rsvp {
	background-image: url("/images/flower3.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.login {
	background-image: url("/images/flower3.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
